* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: url('https://upload.wikimedia.org/wikipedia/commons/thumb/6/6d/Good_Food_Display_-_NCI_Visuals_Online.jpg/1280px-Good_Food_Display_-_NCI_Visuals_Online.jpg') no-repeat;
    background-size: cover;
    font-family: arial;
    color: white;
}

hr {
    margin-top: 80%;
}

.menu-bar {
    background: rgb(46, 46, 80);
    text-align: center;
}

.menu-bar ul {
    display: inline-flex;
    list-style: none;
    color: green;
}

.menu-bar ul li {
    width: 120px;
    margin: 15px;
    padding: 15px;
}

.menu-bar ul li a {
    text-decoration: none;
    color: white;
}
.active, .menu-bar ul li:hover {
    background-color: green;
    border-radius: 2px;
}
.sub-menu-1 {
    display: none;
}

.menu-bar ul li:hover .sub-menu-1 {
    display: block;
    position: absolute;
    background: green;
    margin-top: 15px;
    margin-left: -15px;
}

.menu-bar ul li:hover .sub-menu-1 ul {
    display: block;
    margin: 10px;
}

.menu-bar ul li:hover .sub-menu-1 ul li {
    width: 150px;
    padding: 10px;
    border-bottom: 1px dotted white;
    background: transparent;
    border-radius: 0;
    text-align: left;
}

.menu-bar ul li:hover .sub-menu-1 ul li:last-child {
    border-bottom: none;
}

.menu-bar ul li:hover .sub-menu-1 ul li a:hover {
    color: grey;
}

.sub-menu-2 {
    display: none;
}

.hover-me:hover .sub-menu-2 {
    position: absolute;
    display: block;
    margin-top: -40px;
    margin-left: 140px;
    background: rgb(28, 230, 78);
}

.sub-menu-3 {
    display: none;
}

.hover-me-2:hover .sub-menu-3 {
    position: absolute;
    display: block;
    margin-top: -40px;
    margin-left: 140px;
    background: green;
}